.App {
  text-align: center;
  background-color: aliceblue;
}

ul{
	display:flex;
	justify-content: space-evenly;
	}

	li{
		padding: 2% 3%;
		list-style-type: none;

		
	}

	a{
		text-decoration: none;
		text-transform: uppercase;
		color: black;
	}



